main,
header {
  margin: 1em;
}

q {
  display: block;
}

.cards-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}



.app-name {
  color:rgb(60, 60, 246);
  position: absolute;
  margin-right: 850px;
}
.by-card {
  display: none;

.hidden {
  display: none;
}

.visible{
  display: block;
  color: red;
}